/****************************************** NAVBAR ***********************************************************/

.navbar .navbar-collapse {
    text-align: center;
}

nav {
    background-color: #fff;
}

.modify-clog {
    margin-left: 5px;
}

.modal-clog{
    border: none;
    background-color: transparent;
}

.logoutBox {
    display: flex;
}

a{
    color: black;
}

a:hover{
    color: rgba(0, 0, 0, 0.7);
}

/****************************************** BTN  ***********************************************************/

.btn-logout{
    border: none;
    background-color: transparent;
}

.btn-warning{
    color: #ffffff;
}

.btn-warning:hover {
    color: #ffff;
}

.row.justify-content-between {
    margin: 10px 10px 10px 5px;
}
/****************************************** LOGIN ***********************************************************/

.login-jumbotron{
    margin: 0 auto;
}

.jumbotron{
    border-radius: 0;
    margin-top: 20%;
}

#validateConn {
    border-radius: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: fill-available;
    margin-top: 20px;
}

#pseudoLog{
    border-radius: 0;
}

#passLog{
    border-radius: 0;
}

.alert-danger{
    margin-top: 3px;
    border-radius: 0;
}


/****************************************** EMPLOYEES ***********************************************************/

.search-tool{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 15px;
}

.dot-success {
    height: 20px;
    width: 20px;
    background-color: #449D44;
    border-radius: 50%;
    display: inline-block;
}

.dot-danger {
    height: 20px;
    width: 20px;
    background-color: #D9534F;
    border-radius: 50%;
    display: inline-block;
}

table{
    background-color: #ffffff;
}

input#searchEmpl {
    margin: auto;
}

/****************************************** CAR ***********************************************************/

.search-tool-car{
    /*float: left;*/
    height: min-content;
    margin-bottom: 15px;
    margin-left: .71685%;
    margin-right: .71685%;
    width: 23.56631%;
    padding: 15px;
    background-color: #ffffff;
}

.car-page{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.car-listing{
    display: flex;
    flex-wrap: wrap;
    margin-left: .71685%;
    margin-right: .71685%;
    width: 73.56631%;
}

.card{
    width: 20rem;
    margin: auto;
    margin-bottom: 1rem;
}

.card-body {
    text-align: center;
}

.fa-check:before {
    content: "\f00c";
    color: green;
}

.fa-times:before {
    content: "\f00d";
    color: red;
}

.car-available{
    color: green;
}

.car-unavailable{
    color: red;
}

.add-basket-success{
    width: 100%;
}

/****************************************** Shopping Cart ***********************************************************/

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.card-custom{
    width: 100%;
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 60px;
    margin-bottom: 60px;
}

.pull-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.validate-basket{
    order: 2;
}

.pull-right>b{
    margin-left: 10px;
    margin-right: 10px;
}

.btn-back{
    width: max-content;
}

.basket-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-symbol-euro:after {
    position: absolute;
    top: 0;
    content:"€";
    right: 5px;
}

.input-symbol-euro {
    position: relative;
}
.input-symbol-euro input {
    padding-right: 15px;
}

/****************************************** FOOTER ***********************************************************/

footer{
    border-top: 1px solid lightgray;
    padding: 16px;
}

.sentence{
    font-size: 13px;
    color: #949494;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent;
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 35px; /* Increase font size */
}

#myBtn:hover{
    color: #ffc107;
}