.navbar .navbar-collapse {
    text-align: center;
}

.row.justify-content-between {
    margin: 10px 10px 10px 5px;
}

.btn-warning{
    color: #ffffff;
}

.btn-warning:hover {
    color: #ffff;
}

.btn-logout{
    border: none;
    background-color: transparent;
}

.login-jumbotron{
    margin: 0 auto;
}

.jumbotron{
    border-radius: 0;
    margin-top: 20%;
}

#validateConn {
    border-radius: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: fill-available;
    margin-top: 20px;
}

#pseudoLog{
    border-radius: 0;
}

#passLog{
    border-radius: 0;
}

.alert-danger{
    margin-top: 3px;
    border-radius: 0;
}

.logoutBox {
    display: flex;
}

.search-tool{
    margin-top: 15px;
    margin-bottom: 15px;
}

.dot-success {
    height: 20px;
    width: 20px;
    background-color: #449D44;
    border-radius: 50%;
    display: inline-block;
}

.dot-danger {
    height: 20px;
    width: 20px;
    background-color: #D9534F;
    border-radius: 50%;
    display: inline-block;
}

.modify-clog {
    margin-left: 5px;
}

.modal-clog{
    border: none;
    background-color: transparent;
}